.movements {
    display: flex;
    justify-content: center;
    align-items: center;

    table {
        margin-top: 6rem;
        text-align: center;
        th {
            padding: 0 5rem;
        }
    }
}


@media screen and (max-width: 950px) {

    .movements {

        table {
            margin-top: 2rem;
            font-size: .75rem;
            th {
                padding: 0 1rem;
            }
        }
    }

}