.contact {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 6rem;
    border: #6d6d6e solid;
    border-width: 1.5px 0;
    width: 30vw;
    cursor: pointer;
    transition: .3s;
    color: black;

    &:hover {
        background-color: #e9e9e9;
    }
    img {
        width: 5rem;
        border-radius: 50%;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 950px) {
    .contact {
        padding: 1rem 0 1rem 3rem;
        width: 100vw;
    }
}
