.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 2rem 0;
        text-align: center;
        padding: 0 1rem;
    }
}